fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
email-validator
litellm
openai
requests
tqdm
langchain_core
langchain_openai
langgraph
langfuse
