fastapi
uvicorn[standard]
jinja2
httpx
pydantic
python-dotenv
sqlalchemy
aiosqlite
python-multipart
orjson
markdown
pandas
pgeocode
openpyxl
scikit-image
numpy
pillow
streamlit
streamlit-extras
aiohttp
litellm
requests
PyMuPDF
pdf2image
pytesseract
pypdf
python-docx
chromadb
dotenv
uuid
tqdm
langchain
langchain_openai
langchain_community
langgraph
